{
  "nameGen" : [
    { "mode" : "alts" },
    [
      { "mode" : "serie" },
      [ { "mode" : "alts" }, "Pathetic ", "Crappy ", "Rotten ", "Unloved ", "Sloppy ", "Blunt ", "Poop ", "Useless ", "Futile ", "Weak ", "Decrepit ", "Wasted ", "Rickety ", "Wobbly ", "Dull ", "Feeble ", "Spoiled ", "Laughable ", "Pointless ", "Unwanted ", "Senseless ", "Silly ", "Naff " ],
      [ { "mode" : "alts" }, "Blocker", "Deflector", "Guard", "Shield", "Buckler", "Cover", "Protector", "Kill-stopper", "Arrowguard", "Dinnertray", "Smasheriser", "Coverer", "Annoyance", "Bladeblocker", "Hammerhalter", "Axeaffector", "Spearstopper", "Daggerdeflector" ]
    ]
  ]
}
