{
  "refreshInterval" : 2.0,
  "initialquests" : {
    "glitch" : [ "glitchtutorial.gearup" ],
    "human" : [ "humantutorial.gearup" ],
    "avian" : [ "aviantutorial.gearup" ],
    "apex" : [ "apextutorial.gearup" ],
    "floran" : [ "florantutorial.gearup" ],
    "hylotl" : [ "hylotltutorial.gearup" ]
  }
}
