{
  "namegen" : [
    { "mode" : "alts" },
    [
      { "mode" : "serie" },
      [ { "mode" : "alts" }, "Fish ", "Monster ", "Hunt ", "Beast ", "Danger ", "Ssstab ", "Ssslash ", "Kill ", "Fire ", "Murder ", "Nice Wood " ],
      [ { "mode" : "alts" }, "Blocker", "Deflector", "Guard", "Shield", "Buckler", "Cover", "Protector", "Kill-stopper", "Arrowguard", "Dinnertray", "Smasheriser", "Coverer", "Annoyance", "Bladeblocker", "Hammerhalter", "Axeaffector", "Spearstopper", "Daggerdeflector" ]
    ]
  ]
}
